@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow: hidden;
}

.navbar {
    background-color: lightblue;
    padding: 15px;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position: fixed;
    list-style: none;
}

nav {
    flex: 1;
    text-align: right;
    user-select: none;
}

nav ul li {
    /*Make the choice from left to right*/
    display: inline-block;
    /*Put some space between them to the left*/
    margin-left: 20px;
}

nav ul li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 6px 15px;
}

nav ul li a:hover,
nav ul li a#select{
background: white;
color: black;
}

.classLogo {
    font-size: 20px;
    text-decoration: none;
    color: white;
    pointer-events: none;
    user-select: none;
    font-weight: bold;
}

section{
    height: 100vh;
    width: 100vw;
}

#section1{
    background-image: url(/HomePage/HomeImage/pacman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    /*bottom: 20%;*/
    /*margin-top: 150px;*/
    text-align: center;
    align-items: center;
    justify-content: center;
}

.word1{
    font-size: 25px;
    flex-basis: 30%;
}

  /*The members button*/
  .Memberbutton {
    width: 180px;
    /*word color*/
    color: black;
    background: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 0;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
    /*The hover effect when going back*/
    box-shadow: inset 0 0 0 0 white;
    /*the sliding affect*/
    transition: ease-out 0.3s;
    align-items: center;
    justify-content: center;
}
  
.Memberbutton:hover {
    /*hover effect when going from left to right*/
    box-shadow: inset 200px 0 0 0 gray;
    color: white;
}

/*The actually box*/
.memberBox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
  
/*everything in the modal*/
.memberContent {
    width: 450px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
/*The close button in the modal*/
.memberClose {
    width: 100px;
    /*word color*/
    color: white;
    background: black;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 0;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#section2{
    background-image: url(/HomePage/HomeImage/HomeBluePrint.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    /*bottom: 20%;*/
    /*margin-top: 150px;*/
    left: 8%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.word2{
    font-size: 30px;
    flex-basis: 30%;
}

.cardcol{ 
    padding-left: 140px;
 }
 
 .card{
     width: 230px;
     height: 250px;
     display: inline-block;
     border-radius: 10px;
     padding: 15px 25px;
     box-sizing: border-box;
     cursor: pointer;
     margin: 10px 15px;
     text-align: center;
     align-items: center;
     justify-content: right;
 }
 
 
 .PlayButton{
     width: 100px;
     height: 50px;
     /*word color*/
     color: black;
     background: yellow;
     font-size: 20px;
     font-weight: bold;
     padding: 10px 0;
     border: 0;
     border-radius: 20px;
     outline: none;
     margin-top: 20px;
     cursor: pointer;
     align-items: center;
     justify-content: center;
     text-align: center;
 }
 
 #card1{
    background-color: aqua;
    /* background-image: url(/QuizHomePage/Image/4868336.png);   
     background-position: center;
     background-size: cover;*/
     color: black;
 }
 
 #card2{
    background-color: blueviolet;
    /* background-image: url(/QuizHomePage/Image/python.png);   
     background-position: center;
     background-size: cover;*/
     color: white;
 }
 
 #card3{
    background-color: beige;
     /*background-image: url(/QuizHomePage/Image/board-chalk-success-stairs.jpg);   
     background-position: center;
     background-size: cover;*/
     color: yellow;
 }
 
 .PlayButton:hover{
     cursor: pointer;
     background: yellow;
     box-shadow: 0 0 5px yellow,
                 0 0 20px yellow,
                 0 0 60px yellow;
 }