@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-image: url(HomeImage/Background.jpg);
    /*There wont be any repeat for the background*/
    background-repeat: no-repeat;
    background-position: center;
    /*The background will stay in one place if we scroll*/
    background-attachment: fixed;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}

nav {
    flex: 1;
    text-align: right;
    user-select: none;
}
  
nav ul li {
    list-style: none;
    /*Make the choice from left to right*/
    display: inline-block;
    /*Put some space between them to the left*/
    margin-left: 60px;
}
  
nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
}

nav ul li a:hover{
background: gray;
color: whitesmoke;
}

.classLogo {
    font-size: 20px;
    text-decoration: none;
    color: black;
    pointer-events: none;
    user-select: none;
    font-weight: bold;
}

.row {
    color: black;
    font-size: 20px;
    display: flex;
    position: absolute;
    /*bottom: 20%;*/
    /*margin-top: 150px;*/
    width: 90%;;
    height: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
  
  /*Foucs on the design and position of the paragraph */
.word {
    font-size: 25px;
    flex-basis: 30%;
}
  
  /*The members button*/
.Memberbutton {
    width: 180px;
    /*word color*/
    color: black;
    background: gray;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 12px 0;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
    /*The hover effect when going back*/
    box-shadow: inset 0 0 0 0 gray;
    /*the sliding affect*/
    transition: ease-out 0.3s;
    align-items: center;
    justify-content: center;
}
  
.Memberbutton:hover {
    /*hover effect when going from left to right*/
    box-shadow: inset 200px 0 0 0 whitesmoke;
}
  